<p class="placeholder-glow">
    <span class="placeholder col-12"></span>
</p>
<h1 style="color:blue">User is successfuly registered!</h1>
<a asp-action="Login" asp-controller="User">Login to continue</a>
<p class="placeholder-wave">
    <span class="placeholder col-12"></span>
</p>


